.radio {
  display: flex;
  justify-content: space-around;
  margin: 0 1.2rem 2rem 1.2rem;
}
.radioButton {
  flex-grow: 1;
  padding: 0.8rem 0;
  border: 1px solid #e8eaea;
  color: #2196f3;
}

.radioButton:last-child {
  border: 1px solid #e8eaea;
  -moz-border-radius-topright: 0.8rem;
  -webkit-border-top-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  -moz-border-radius-bottomright: 0.8rem;
  -webkit-border-bottom-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.radioButton:first-child {
  border: 1px solid #e8eaea;
  -moz-border-radius-topleft: 0.8rem;
  -webkit-border-top-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  -moz-border-radius-bottomleft: 0.8rem;
  -webkit-border-bottom-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.radioButton:hover {
  background-color: #f2fcff;
  border: 1px solid #2196f3;
  color: #2196f3;
}
.active,
.active:hover {
  color: white;
  background-color: #2196f3;
  border: 1px solid #2196f3;
}
